*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* App.css */

.main-content {
  display: flex;
  margin-top: 108px; /* Adjust for the navbar height */
}

.sidebar-container {
  width: 20%;
}

.right-content {
  width: 80%;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: calc(100vh - 60px); Adjust height for fixed navbar */
  box-sizing: border-box;
}

.centered-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gradient-button {
  width: 100%;
  padding: 15px 20px;
  background: linear-gradient(to right, #32a852, #4a90e2);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gradient-button:hover {
  transform: scale(1.05);
}

.arrow {
  margin-left: 8px;
  font-size: 1.2rem;
}
