@tailwind base;
@tailwind components;
@tailwind utilities;

/* Perspective for 3D Flip Effect */
.perspective {
  perspective: 1000px;
}

/* Preserve 3D Transform */
.transform-style {
  transform-style: preserve-3d;
}

/* Flip the element when clicked */
.rotate-y-180 {
  transform: rotateY(180deg);
}
